@media screen and (max-width: 992px) {

    #contents ul {
        width: 70%;
    }

    .song-icon {
        margin-left: 10px;
    }

    .fa-folder {
        margin: 0;
    }

    .song .icon {
        display: flex;
    }

    .fa-folder {
        margin-left: 6px;
    }
}


@media screen and (max-width: 768px) {

    .card {
        width: 200px;
    }

    #contents img {
        width: 200px;
    }

    #contents ul {
        width: 90%;
    }

    .song h3 {
        font-size: 14px;
    }

    .song span {
        font-size: 10px;
    }

    .song img {
        height: 50px;
        margin-right: 15px;
    }

    .song .icon {
        flex-direction: column;
        font-size: 13px;
    }

    .fa-folder {
        margin: 10px 0 0;
    }

    .commands {
        width: 150px;
    }

    .time span {
        font-size: 11px;
    }

    .volume .icon {
        width: 45%;
        font-size: 13px;
    }

    .volume-bar {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {

    #sidebar {
        width: 40px;
        padding: 25px 0;
    }


    #sidebar li {
        display: flex;
        justify-content: center;
    }

    #siderbar img {
        max-height: 30px;
    }

    #sidebar #logo-big {
        display: none;
    }

    #sidebar #logo-small {
        display: block;
    }

    #sidebar span {
        display: none;
    }

    #sidebar h4 {
        display: none;
    }

    .playlist {
        display: none;
    }

    #profile {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    #profile hr {
        display: none;
    }

    #upgrade {
        width: calc(100% - 40px);
    }

    #contents {
        width: calc(100% - 40px);
    }

    .song {
        min-width: 120px;

    }

    .song h3 {
        font-size: 12px;
    }

    .song span {
        font-size: 9px;
    }

    .song img {
        height: 40px;
        margin-right: 10px;
    }

    .song .icon {
        font-size: 11px;
    }

    .commands {
        width: 120px;
    }

    .play .fa-solid {
        font-size: 18px;
    }

    .play .fa-regular {
        font-size: 30px;
    }

    .volume {
        min-width: 120px;
    }

    .volume .icon {
        font-size: 11px;
    }

}