* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

/* utily */

.margin-60 {
    margin-bottom: 60px;
}

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

/* general */

main {
    height: calc(100vh - 110px);
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* sidebar */

#sidebar {
    width: 220px;
    background-color: #000000;
    padding: 25px 0 0;
}

#sidebar #logo-big {
    height: 40px;
    margin: 0 0 20px 20px;
}

#sidebar #logo-small {
    display: none;
    height: 30px;
    margin: 0 auto 20px;
}

#sidebar .menu-playlist {
    height: calc(100% - 80px);
}

#sidebar .menu a {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#sidebar .menu li:first-child {
    border-left: #ADFF2F 2px solid;
}

#sidebar .add-playlist {
    margin: 0 0 10px 20px;
}

#sidebar .add-playlist a {
    display: flex;
    align-items: center;
}

#sidebar .playlist {
    margin-left: 20px;
}

#sidebar li {
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 10px;
}

#sidebar h4 {
    margin: 20px 0 20px;
}

#sidebar .fa-plus {
    padding: 15px;
    background-color: white;
    color: black;
    margin-right: 10px;
}

#sidebar img {
    height: 30px;
    margin-right: 5px;
}

#profile {
    height: 80px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#profile a {
    display: flex;
    align-items: center;
}

/* header */

#upgrade {
    height: 100px;
    width: calc(100% - 220px);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}

#upgrade .btn {
    height: 40px;
    width: 260px;
    border: 1px solid white;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 25px;
}

.li-active::after {
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    background-color: #ADFF2F;
    margin: 2px auto;
}

/* contents */

#contents {
    width: calc(100% - 220px);
    padding: 130px 20px 0;
    overflow-y: scroll;
    background-color: #141922;
}

#contents ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    font-size: 10px;
}

#contents li {
    margin: 10px;
}

#contents h2 {
    font-size: 26px;
    margin-bottom: 40px;
}

.recently-played {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

#contents img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

#contents h3 {
    width: 90%;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center
}

#contents span {
    font-size: 13px;
    text-align: center;
}

#john-doe h2 {
    margin-bottom: 26px;
}

#john-doe span {
    font-size: 13px;
}

#john-doe .card {
    margin-top: 30px;
}

#artist span {
    font-size: 13px;
}

#artist img {
    border-radius: 50%;
}

#artist .card {
    margin-top: 30px;
}

/* footer */

footer {
    height: 110px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    padding: 15px 20px;
}

/* song */

.song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;

}

.song img {
    height: 50px;
    margin-right: 10px;
}

.song .icon {
    margin-left: 10px;
}

.fa-folder {
    margin-left: 10px;
}

.song h3 {
    font-size: 16px;
}

.song span {
    font-size: 12px;
}

/* play */

.play {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play .fa-solid {
    font-size: 22px;
}

.play .fa-regular {
    font-size: 35px;
}

.commands {
    height: 70%;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-bar {
    height: 5px;
    width: 80%;
    background-color: #A3A3A3;
    margin: 0 20px;
}

.time span {
    font-size: 13px;
    width: 30px;
}

/* volume */

.volume {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.volume-bar {
    height: 5px;
    width: 60%;
    background-color: #A3A3A3;
}

.volume .icon {
    width: 35%;
    display: flex;
    justify-content: space-between;
}