* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

/* utily */

.margin-60 {
    margin-bottom: 60px;
}

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

/* general */

main {
    max-height: calc(100vh - 120px);
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */

#upgrade {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-big {
    height: 50px;
    margin-left: 25px;
}

#logo-small {
    display: none;
    height: 40px;
    margin-left: 25px;
}

#upgrade .btn {
    height: 50px;
    width: 280px;
    border: 1px solid white;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    margin-right: 25px;
}

/* sidebar */

#sidebar {
    width: 18%;
    background-color: #000000;
    padding: 120px 30px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


#sidebar li {
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 20px;
}

#sidebar h4 {
    margin: 20px 0 20px;
}

#sidebar .fa-plus {
    padding: 15px;
    background-color: white;
    color: black;
    margin-right: 10px;
}

#sidebar img {
    height: 30px;
}

/* contents */

#contents {
    width: 82%;
    padding: 130px 0 0 30px;
    overflow-y: scroll;
    background-color: #141922;
}

#contents ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    font-size: 12px;
}

#contents li {
    margin: 15px;
}

#contents h2 {
    font-size: 26px;
    margin-bottom: 40px;
}

.recently-played {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 20px;
}

#contents img {
    width: 180px;
    margin-bottom: 15px;
}

#contents h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center
}

#contents span {
    font-size: 13px;
}

#john-doe h2 {
    margin-bottom: 26px;
}

#john-doe span {
    font-size: 13px;
}

#john-doe .card {
    margin-top: 30px;
}

#artist span {
    font-size: 13px;
}

#artist img {
    border-radius: 50%;
}

#artist .card {
    margin-top: 30px;
}

/* footer */

footer {
    height: 120px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    padding: 10px 20px;
}

/* song */

.song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
}

.song img {
    height: 60px;
    margin-right: 10px;
}

.fa-folder {
    margin-left: 10px;
    font-size: 18px;
}

.fa-heart {
    font-size: 18px;
}

.song h3 {
    font-size: 16px;
}

.song span {
    font-size: 12px;
}

/* play */

.play {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play .fa-solid {
    font-size: 22px;
}

.play .fa-regular {
    font-size: 35px;
}

.commands {
    height: 70%;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-bar {
    height: 5px;
    width: 80%;
    background-color: #A3A3A3;
    margin: 0 20px;
}

.time span {
    font-size: 13px;
}

/* volume */

.volume {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.volume-bar {
    height: 5px;
    width: 60%;
    background-color: #A3A3A3;
}

.volume .icon {
    width: 35%;
    display: flex;
    justify-content: space-between;
}