* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

#upgrade {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#upgrade img {
    height: 70px;
    margin-left: 25px;
}

#upgrade .btn {
    height: 50px;
    width: 300px;
    border: 1px solid white;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    margin-right: 25px;
}

/* main */

main {
    height: 90vh;
    width: 100%;
    display: flex;
}

#sidebar {
    min-width: 20vw;
    background-color: blu;
}

#contents {
    width: 80vw;
    padding: 30px;
    overflow-y: scroll;
    background-color: #141922;
}

#sidebar {
    width: 20vw;
    height: 100%;
    background-color: #000000;
}

/* footer */

footer {
    height: 10vh;
    width: 100%;
    background-color: #282828;
}